body {
    background-color: rgb(56, 236, 20);
}

#a1 {
    color: blueviolet;
    text-decoration: none;
}

#p1 {
    color: aliceblue;
    text-align: center;
}
#page1{text-align: center;}

#p2{text-align: center;}