body {
    background-color: rgb(255, 255, 255);
}

#a1 {
    color: blueviolet;
    text-decoration: none;
}

#p1 {
    color: rgb(0, 0, 0);
    text-align: center;
}
#page1{text-align: center;}

#p2{text-align: center;}

#a2{text-decoration: none;}

#header1{border: 2px solid;margin: 10px;}

#div1{border: 2px solid;margin: 10px;}