body {
    background-color:#EFE4D2;
}

.div1{
    
    margin-left: auto;
    width: 140px;
    background-color:#211832;
    color: aliceblue;
    padding: 10px;
    border: 2px solid rebeccapurple;
    border-radius: 20px;
    text-align: center;
}
.div2{
    text-align: center;
    margin-left: auto;
    width: 90px;
    background-color: #211832;
    margin-right: 3px;
    border-radius: 20px;
    border: 2px solid rebeccapurple;
    margin-top: 2px;
    color: aliceblue;
}

.div3{
    background-color: #211832;
    padding: 10px;
    border-radius: 20px;
}
.div4 img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.div4{
    background-color:#5C3E94;
    padding: 1px;
    margin-top: 20px;
    border-radius: 60px;
    height: 110px;
}
.div5 img{
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.div5{
    background-color: #5C3E94;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1px;
    border-radius: 60px;
    height: 110px;
}
.a1{
    color:aqua;
    text-decoration: none;
}
.a2{
    color: aqua;
    text-decoration: none;
}